:root {
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --third-color: #272142;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  text-decoration: none;
  margin-left: 15px;
}

nav li.active a,
nav li a:hover {
  color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: var(--third-color);
  opacity: 70%;
  transition: all 100ms ease-in-out;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--third-color);
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  font-weight: bold;
}

.btn-branding {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 30px;
}

.btn-index {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.content-container {
  padding: 100px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 50px;
}

.content-container h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  color: var(--third-color);
}

.content-container p {
  opacity: 0.7;
  line-height: 2;
}

.content {
  margin: 30px;
}

.content a {
  text-decoration: none;
  color: black;
}

.content a:hover {
  color: var(--primary-color);
}

.project-page h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.project-page p {
  font-size: 14px;
}

.logo {
  max-height: 40px;
}

footer h4 {
  font-size: 48px;
}

footer .call-to-action {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .call-to-action a:hover {
  color: var(--primary-color);
  background-color: white;
}

footer .call-to-action p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-media a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 20px;
  background-color: var(--secondary-color);
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-media a:hover {
  color: white;
  background-color: var(--primary-color);
}

@media (max-width: 900px) {
  .hero {
    padding: 60px 2px;
  }

  .hero h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  .hero h2 {
    font-size: 20px;
    line-height: 1.5;
  }

  .hero p {
    font-size: 25px;
  }

  .hero .btn {
    margin-top: 30px;
  }

  .content {
    padding: 0;
    text-align: center;
  }

  .container h2 {
    font-size: 45px;
  }

  .content-container {
    padding: 0;
    text-align: center;
  }

  .content-container h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .content-container h2 {
    font-size: 16px;
  }

  nav {
    padding: 10px;
  }

  nav a {
    font-size: 12px;
  }

  footer h4 {
    font-size: 24px;
  }

  footer .call-to-action {
    padding: 30px 60px;
  }
}
